.home-page-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 30px 100px;
  background-color: #fdfdfded;
  .user-search {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 10px;
      padding: 10px 20px;
      background-color: #c5f0ff;
      border-radius: 20px;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        &::placeholder {
          color: #5a5a5a;
          font-size: 18px;
        }
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
        }
      }
    }
  }
  .searched-user-main {
    width: 100%;
    height: auto;
    .searched-user-gif {
      width: 750px;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .searched-user-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      column-gap: 80px;
      align-items: center;
      .searched-user-container-left {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        position: relative;
        .searched-user-image {
          width: 250px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
            border: 2px solid #fff;
            outline: 2px solid #000;
          }
        }
        .searched-user-profile-url {
          position: absolute;
          content: '';
          bottom: -50px;
          left: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 10px;
          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
      .searched-user-container-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        .searched-user-name {
          width: 100%;
          h3 {
            font-size: 32px;
          }
        }
        .searched-user-bio {
          p {
            font-size: 20px;
          }
        }
        .searched-user-location {
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 5px;
          p {
            font-size: 20px;
          }
          img {
            width: 22px;
            height: 22px;
          }
        }
        .searched-user-public-url {
          p {
            font-size: 20px;
            a {
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
    }
  }
}