.home-page-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 30px 100px;
  background-color: #f4f4f4ed;
  .user-search {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-container {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 10px;
      padding: 10px 20px;
      background-color: #c5f0ff;
      border-radius: 20px;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 20px;
        &::placeholder {
          color: #5a5a5a;
          font-size: 18px;
        }
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 25px;
          height: 25px;
          object-fit: cover;
        }
      }
    }
  }
  .searched-user-main {
    width: 100%;
    height: auto;
    .searched-user-gif {
      width: 750px;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .searched-user-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      column-gap: 80px;
      align-items: center;
      .searched-user-container-left {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        position: relative;
        .searched-user-image {
          width: 250px;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
            border: 2px solid #fff;
            outline: 2px solid #000;
          }
        }
        .searched-user-profile-url {
          position: absolute;
          content: '';
          bottom: -50px;
          left: 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 10px;
          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
      .searched-user-container-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        .searched-user-name {
          width: 100%;
          h3 {
            font-size: 32px;
          }
        }
        .searched-user-bio {
          p {
            font-size: 20px;
          }
        }
        .searched-user-location {
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 5px;
          p {
            font-size: 20px;
          }
          img {
            width: 22px;
            height: 22px;
          }
        }
        .searched-user-public-url {
          p {
            font-size: 20px;
            a {
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
    }
  }
  .btns {
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    column-gap: 10px;
    button {
      font-size: 20px;
      padding: 8px 15px;
      background-color: #00a6ff;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: #32b7ff;
        transition: 0.3s;
        transform: translateY(-3px);
      }
    }
  }
  .users-containers-list {
    padding-top: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    .user-container {
      width: 100%;
      height: auto;
      border: 1px solid #000;
      padding: 10px 40px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      background-color: #fff;
      justify-content: space-between;
      .user-container-left {
        width: 100%;
        flex: 1;
        .user-container-pic {
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      .user-container-right {
        width: 100%;
        flex: 2;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        .user-container-name {
          h2 {
            font-size: 23px;
            letter-spacing: 0.2px;
          }
        }
        .user-container-bio {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          column-gap: 10px;
          a {
            text-decoration: none;
            font-size: 18px;
            color: #000;
          }
        }
      }
    }
  }
  .pagination-system {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
  }
}

@media (max-width : 1200px) {
  .home-page-main {
    padding: 30px 50px;
    .users-containers-list {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }
}
@media (max-width : 1100px) {
  .home-page-main {
    padding: 30px 50px;
    .users-containers-list {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .user-container {
        padding: 10px;
      }
    }
  }
}
@media (max-width : 940px) {
  .home-page-main {
    padding: 30px 50px;
    .users-containers-list {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .user-container {
        padding: 20px;
        .user-container-left {
          .user-container-pic {
            img {
              width: 70px;
              height: 70px;
              border: 50%;
            }
          }
        }
        .user-container-right {
          .user-container-name {
            h2 {
              font-size: 18px;
            }
          }
          .user-container-bio {
            img {
              width: 18px;
              height: 18px;
            }
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media (max-width : 900px) {
  .home-page-main {
    padding: 30px 50px;
    .searched-user-main {
      .searched-user-gif {
        width: 100%;
      }
    }
    .users-containers-list {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .user-container {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        .user-container-left {
          flex: 0;
          .user-container-pic {
            img {
              width: 100px;
              height: 100px;
              border: 50%;
            }
          }
        }
        .user-container-right {
          flex: 0;
          .user-container-name {
            h2 {
              font-size: 23px;
            }
          }
          .user-container-bio {
            img {
              width: 25px;
              height: 25px;
            }
            a {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
@media (max-width : 620px) {
  .home-page-main {
    padding: 30px 50px;
    .searched-user-main {
      .searched-user-gif {
        width: 100%;
      }
      .searched-user-container {
        column-gap: 30px;
        .searched-user-container-left {
          .searched-user-image {
            width: 150px;
            height: 150px;
          }
          .searched-user-profile-url {
            bottom: -60px;
          }
        }
        .searched-user-container-right {
          row-gap: 15px;
          .searched-user-name {
            h3 {
              font-size: 25px;
            }
          }
          .searched-user-bio,
          .searched-user-location,
          .searched-user-public-url {
            p {
              font-size: 17px;
            }
          }
        }
      }
    }
    .btns {
      button {
        font-size: 15px;
      }
    }
    .users-containers-list {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .user-container {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        .user-container-left {
          flex: 0;
          .user-container-pic {
            img {
              width: 100px;
              height: 100px;
              border: 50%;
            }
          }
        }
        .user-container-right {
          flex: 0;
          .user-container-name {
            h2 {
              font-size: 23px;
            }
          }
          .user-container-bio {
            img {
              width: 25px;
              height: 25px;
            }
            a {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
@media (max-width : 550px) {
  .home-page-main {
    padding: 30px 20px;
    .users-containers-list {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .user-container {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        .user-container-left {
          flex: 0;
          .user-container-pic {
            img {
              width: 70px;
              height: 70px;
              border: 50%;
            }
          }
        }
        .user-container-right {
          flex: 0;
          .user-container-name {
            h2 {
              font-size: 18px;
            }
          }
          .user-container-bio {
            img {
              width: 18px;
              height: 18px;
            }
            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width : 550px) {
  .home-page-main {
    padding: 30px 20px;
    .users-containers-list {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      .user-container {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        column-gap: 20px;
        .user-container-left {
          flex: 0;
          .user-container-pic {
            img {
              width: 70px;
              height: 70px;
              border: 50%;
            }
          }
        }
        .user-container-right {
          flex: 0;
          .user-container-name {
            h2 {
              font-size: 18px;
            }
          }
          .user-container-bio {
            img {
              width: 18px;
              height: 18px;
            }
            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
