<div class="home-page-main">
  <div class="user-search">
    <div class="search-container">
      <input type="text" [(ngModel)]="userName" placeholder="Enter a username">
      <button (click)="getUser()">
        <img src="/assets/images/search.png">
      </button>
    </div>
  </div>
  <div class="searched-user-main">
    <div class="searched-user-gif" *ngIf="searchedUserGif">
      <img src="/assets/gifs/loader.gif">
    </div>
    <div class="searched-user-container"
      *ngIf="searchedUser && !searchedUserGif">
      <div class="searched-user-container-left">
        <div class="searched-user-image">
          <img src="{{ userName.avatar_url }}">
        </div>
        <div class="searched-user-profile-url">
          <img src="/assets/images/url-icon.png">
          <a href="{{ userName.html_url }}" target="_blank">{{ userName.html_url }}</a>
        </div>
      </div>
      <div class="searched-user-container-right">
        <div class="searched-user-name">
          <h3>{{ userName.name }}</h3>
        </div>
        <div class="searched-user-bio">
          <p>{{ userName.bio }}</p>
        </div>
        <div class="searched-user-location">
          <img src="/assets/images/location.png">
          <p>{{ userName.location }}</p>
        </div>
        <div class="searched-user-public-url">
          <p>
            Twitter: <a href="userName.twitter_username" target="_blank">{{ userName.twitter_username }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="btns">
    <button (click)="littleItemsPerPage()">20 Item Per Page</button>
    <button (click)="manyItemsPerPage()">100 Item Per Page</button>
  </div>
  <div class="users-containers-list">
    <ng-container *ngFor="let user of usersData | paginate: { itemsPerPage : itemsPerPage, currentPage : userName}">
      <div class="user-container">
        <div class="user-container-left">
          <div class="user-container-pic">
            <img src="{{ user.avatar_url }}">
          </div>
        </div>
        <div class="user-container-right">
          <div class="user-container-name">
            <h2>{{ user.login }}</h2>
          </div>
          <div class="user-container-bio">
            <img src="/assets/images/url-icon.png">
            <a href="{{ user.html_url }}" target="_blank">
              {{ user.html_url }}
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="pagination-system">
      <pagination-controls (pageChange)="userName = $event"></pagination-controls>
  </div>
</div>
